@charset "UTF-8";


.titleLine {
    height: 4px;
    margin: 10px auto 30px;
    width: 1000px;
    border-image-slice: 1;
    background: rgba(34,2,11,1);
    background: -moz-linear-gradient(left, rgba(34,2,11,1) 0%, rgba(54,8,16,1) 2%, rgba(245,246,212,1) 46%, rgba(255,255,249,1) 50%, rgba(245,246,212,1) 54%, rgba(54,8,16,1) 98%, rgba(34,2,11,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,2,11,1)), color-stop(2%, rgba(54,8,16,1)), color-stop(46%, rgba(245,246,212,1)), color-stop(50%, rgba(255,255,249,1)), color-stop(54%, rgba(245,246,212,1)), color-stop(98%, rgba(54,8,16,1)), color-stop(100%, rgba(34,2,11,1)));
    background: -webkit-linear-gradient(left, rgba(34,2,11,1) 0%, rgba(54,8,16,1) 2%, rgba(245,246,212,1) 46%, rgba(255,255,249,1) 50%, rgba(245,246,212,1) 54%, rgba(54,8,16,1) 98%, rgba(34,2,11,1) 100%);
    background: -o-linear-gradient(left, rgba(34,2,11,1) 0%, rgba(54,8,16,1) 2%, rgba(245,246,212,1) 46%, rgba(255,255,249,1) 50%, rgba(245,246,212,1) 54%, rgba(54,8,16,1) 98%, rgba(34,2,11,1) 100%);
    background: -ms-linear-gradient(left, rgba(34,2,11,1) 0%, rgba(54,8,16,1) 2%, rgba(245,246,212,1) 46%, rgba(255,255,249,1) 50%, rgba(245,246,212,1) 54%, rgba(54,8,16,1) 98%, rgba(34,2,11,1) 100%);
    background: linear-gradient(to right, rgba(34,2,11,1) 0%, rgba(54,8,16,1) 2%, rgba(245,246,212,1) 46%, rgba(255,255,249,1) 50%, rgba(245,246,212,1) 54%, rgba(54,8,16,1) 98%, rgba(34,2,11,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22020b', endColorstr='#22020b', GradientType=1 );
}

.container img {
    margin: 0 auto;
}

.btn {
    width: 100%;
    margin-top: 30px;
}

.btn li{
	display: inline-block;
	margin-right: 30px;
}

